<p class="c-header__title">Asosiy kategoriyalar</p>
<div class="c-header">
  <a
    routerLink="/main/temuriylar"
    class="c-header__links"
    routerLinkActive="c-header__links-active"
    >Temuriylar davri
  </a>
  <a
    routerLink="/main/jadid"
    class="c-header__links"
    routerLinkActive="c-header__links-active"
    >Jadid adabiyoti
  </a>
  <a
    routerLink="/main/sovet"
    routerLinkActive="c-header__links-active"
    class="c-header__links"
    >Sovet davri
  </a>
  <a
    routerLink="/main/mustaqillik"
    routerLinkActive="c-header__links-active"
    class="c-header__links"
    >Mustaqillik davri</a
  >
</div>
